<div class="container">
    <div class="col-md-9 colsm-6 col-xs-12">
    <div class="panel panel-default">
    <div class="panel-heading"><br><h3>Ajouter un nouveau produit</h3><br>  </div>
    <div class="panel-body" *ngIf="mode==1">
    <form #f="ngForm" (ngSubmit)="OnsaveProduct(f.value)">
    <div class="form-group">
    <label class="control-label">Nom</label>
    <input class="form-control" required type="text" name="nomp" ngModel>
    </div>
    <div class="form-group">
        <label class="control-label">Prix unitaire</label>
        <input class="form-control"required type="text" name="prixunitairep" ngModel>
        </div>
   
        <div class="form-group">
            <label class="control-label">Quantite</label>
            <input class="form-control"required type="text" name="qte" ngModel>
            </div>
                  
        <button class="btn btn-success" type="submit">Enregistrer</button><br><br>
        <button class="btn btn-success" type="reset">Annuler</button><br><br>

     </form>
    </div>
    

 
    
    

