<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    $(document).ready(function(){
      // Activate tooltip
      $('[data-toggle="tooltip"]').tooltip();
      
      // Select/Deselect checkboxes
      var checkbox = $('table tbody input[type="checkbox"]');
      $("#selectAll").click(function(){
        if(this.checked){
          checkbox.each(function(){
            this.checked = true;                        
          });
        } else{
          checkbox.each(function(){
            this.checked = false;                        
          });
        } 
      });
      checkbox.click(function(){
        if(!this.checked){
          $("#selectAll").prop("checked", false);
        }
      });
    });
    </script>
    </head>
    <body>
      <h2>Gestion <b>Des Produits</b></h2>
      <div class="panel-body">
          
        <form #f="ngForm" (ngSubmit)="Onchercher(f.value)">
            <div class="form-group">
              
            <input type="text" matInput placeholder="Chercher..." name="mot_cle" ngModel>
            <button type="submit" class="btn btn-info"> <span class="glyphicon glyphicon-search"></span> Chercher</button>
  
          </div>
        </form>
        <br>
       
  
      </div>
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                          <a  routerLink="../../produit/ajout" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter Produit</span></a>
                          <br>
                          <br>
                          

              </div>
             
                    </div>
                </div>
                  <table class="table table-responsive-sm "  *ngIf="produits">
                      <thead>
                          <tr>
                 
                  <th>Code Produit</th><th>Libellé</th><th> Prix unitaire</th><th> Quantite</th><th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let p of produits">
                
                              
                        <td>{{p.id}}</td>
                        <td>{{p.nomp}}</td>
                        <td>{{p.prixunitairep}}</td>
                        <td>{{p.qte}}</td>
  
                              <td>
                                  <a class="edit" data-toggle="modal" (click)="onEditProduct(p.id)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                  <a class="delete" data-toggle="modal" (click)="onDeleteProduct(p.id)"> <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                  
                              </td>
                          </tr>
                          <tr>
                      </tbody>
                  </table>
          
                  <div class="clearfix">
                    
          
                </div>
            </div>
        </div>
            
  </body>